In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup as BS
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException

------------------------------------------------------------------------------------------------------------------------------
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data from  https://www.naukri.com/

-------------------------------------------------------------------------------------------------------------------------------

In [2]:
#Function definition
def find_jobs_from(url) :
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    skill_field = driver.find_element_by_name('keyword')
    skill_field.send_keys("Data Analyst")

    location_field = driver.find_element_by_name('location')
    location_field.send_keys("Bangalore")

    search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
    try:
        search_button.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")

    current_url = driver.current_url

    driver.get(current_url)

    job_title = []
    job_location = []
    company_name = []
    experience_required = []

    jobs = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    for i in range(0,len(jobs)):
        if i < 10:
            try:
                job_title.append(jobs[i].text)
            except NoSuchElementException:
                job_title.append(" -- ")

    locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    for j in range(0,len(locations)):
        if j < 10:
            try:
                job_location.append(locations[j].get_attribute('innerHTML'))
            except NoSuchElementException:
                job_location.append(" -- ")

    experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
    for k in range(0,len(experience)):
        if k < 10 :
            try:
                experience_required.append(experience[k].get_attribute('innerHTML'))
            except NoSuchElementException:
                experience_required.append(" -- ")

    company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for l in range(0,len(company)):
        if l < 10 :
            try:
                company_name.append(company[l].get_attribute('innerHTML'))
            except NoSuchElementException:
                company_name.append(" -- ")

    driver.close()


    data_analyst_jobs = pd.DataFrame({"Job Title" : job_title,
                                      'Job Location' : job_location,
                                      'Experience Required' : experience_required,
                                      'Company' : company_name
                                     })
    return data_analyst_jobs

#Call Function
df = find_jobs_from("https://www.naukri.com/")
df

,Job Title,Job Location,Experience Required,Company
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,CAIA-Center For Artificial Intelligence &amp; ...
1,Immediate openings For MIS executive /Data ana...,Bengaluru,3-8 Yrs,RANDSTAD INDIA PVT LTD
2,Data Analyst,"Mumbai, Bengaluru, Hyderabad",2-3 Yrs,Cognizant Technology Solutions India Pvt Ltd
3,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,1-4 Yrs,Flipkart Internet Private Limited
4,Data Analyst,Bengaluru,0-4 Yrs,St. John’s Research Institute
5,Data Analyst,Bengaluru,0-3 Yrs,Siemens Limited
6,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Bengaluru(Koramangala),0-3 Yrs,Sunstream Global Technologies LLP
7,Data Analyst,Bengaluru,4-6 Yrs,IBM India Pvt. Limited
8,Security Data Analyst,Bengaluru,2-4 Yrs,Philips India Limited
9,Data Analyst,"Bengaluru, Kolkata",3-4 Yrs,Cognizant Technology Solutions India Pvt Ltd

-------------------------------------------------------------------------------------------------------------------------------
Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data from https://www.naukri.com/.

-------------------------------------------------------------------------------------------------------------------------------

In [3]:
#Function definition
def find_jobs_from(url) :
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    skill_field = driver.find_element_by_name('keyword')
    skill_field.send_keys("Data Scientist")

    location_field = driver.find_element_by_name('location')
    location_field.send_keys("Bangalore")

    search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
    try:
        search_button.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")

    current_url = driver.current_url

    driver.get(current_url)

    job_title = []
    job_location = []
    company_name = []
    description = []

    jobs = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    for i in range(0,len(jobs)):
        if i < 10:
            try:
                job_title.append(jobs[i].text)
            except NoSuchElementException:
                job_title.append(" -- ")

    locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    for j in range(0,len(locations)):
        if j < 10:
            try:
                job_location.append(locations[j].get_attribute('innerHTML'))
            except NoSuchElementException:
                job_location.append(" -- ")

    company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for l in range(0,len(company)):
        if l < 10 :
            try:
                company_name.append(company[l].get_attribute('innerHTML'))
            except NoSuchElementException:
                company_name.append(" -- ")
                
    desc_url = []
    description_url = driver.find_elements_by_xpath("//div[@class='info fleft']/a")
    for k in range(0,len(description_url)):
        if k < 10 :
            desc_url.append(description_url[k].get_attribute('href'))
        
    for each in desc_url:
        try:
            driver.get(each)
            desc = driver.find_element_by_xpath("//section[@class='job-desc']")
            description.append(desc.text.replace("Job description","").replace("\n"," "))
        except NoSuchElementException:
            description.append("--")

 
    driver.close()


    data_analyst_jobs = pd.DataFrame({"Job Title" : job_title,
                                      'Job Location' : job_location,
                                      'Company' : company_name,
                                      'Job Description' : description
                                     })
    return data_analyst_jobs

#Call Function
df = pd.DataFrame()
df = find_jobs_from("https://www.naukri.com/")
df

,Job Title,Job Location,Company,Job Description
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence &amp; ...,Dear Candidate Schedule a Telephonic Intervi...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,"Dear Candidate, Greetings from HCL!!! We are..."
2,Data Scientist -Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,--
3,Principal Data Scientist - Machine/Deep Learni...,Bengaluru,Fidius advisory,Job Description : - We are looking for a rese...
4,Senior / Lead Data Scientist,"Chennai, Pune, Bengaluru",TVS CREDIT SERVICES LIMITED,Key Responsibilities Be responsible for scal...
5,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,--
6,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited,Roles and Responsibilities We are looking for...
7,Data Scientist,"Chennai, Bhubaneshwar, Pune, Delhi NCR, Mumbai...",Mailkit Private Limited,Mailkit is an European Marketing Automation c...
8,Lead Data Scientist - Complete Remote Work,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Techolution India Private Limited,We are looking for qualified Lead Data Scien...
9,Data Scientist,Bengaluru,IBM India Pvt. Limited,Introduction The Data Scientist actively part...

-------------------------------------------------------------------------------------------------------------------------------
Q3. Find job-title, job-location, company_name, and experience_required. You have to scrape first 10 jobs data from 
https://www.naukri.com/ .The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs.

-------------------------------------------------------------------------------------------------------------------------------

In [4]:
def find_jobs_from(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    skill_field = driver.find_element_by_name('keyword')
    skill_field.send_keys("Data Scientist")

    search_button = driver.find_element_by_xpath("//div[@class='search-btn']/button")
    try:
        search_button.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")

    current_url = driver.current_url
    driver.get(current_url)
    salary = ''
    title = '' 
    time.sleep(3)
    try:
        driver.find_element_by_xpath("//span[@title='Delhi/NCR']").click()
        time.sleep(2)
        driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()
        time.sleep(2)

    except ElementNotInteractableException as err:
        print(err)

    job_titles = []
    job_locations = []
    job_experiences = []
    company_names = []

    jobs = driver.find_elements_by_xpath("//div[@class='info fleft']/a")
    for i in range(0,len(jobs)):
        if i < 10:
            try:
                job_titles.append(jobs[i].get_attribute('innerHTML'))
            except NoSuchElementException:
                job_titles.append(" -- ")


    locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    for j in range(0,len(locations)):
        if j < 10:
            try:
                job_locations.append(locations[j].get_attribute('innerHTML'))
            except NoSuchElementException:
                job_locations.append(" -- ")

    experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
    for k in range(0,len(experience)):
        if k < 10 :
            try:
                job_experiences.append(experience[k].get_attribute('innerHTML'))
            except NoSuchElementException:
                job_experiences.append(" -- ")

    company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for l in range(0,len(company)):
        if l < 10 :
            try:
                company_names.append(company[l].get_attribute('innerHTML'))
            except NoSuchElementException:
                company_names.append(" -- ")

    data_scientist_jobs = pd.DataFrame({"Job Title" : job_titles,
                                      'Job Location' : job_locations,
                                      'Company' : company_names,
                                      'Experience Required': job_experiences
                                     })
    return data_scientist_jobs


    driver.close()

df = find_jobs_from("https://www.naukri.com/")
df

,Job Title,Job Location,Company,Experience Required
0,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
1,Senior Data Scientist - Computer Vision,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs
2,Data Scientist - Machine Learning/ NLP,Gurgaon Gurugram,TalPro,2-6 Yrs
3,Data Scientist,"Pune, Bengaluru, Hyderabad, Gurgaon",PEOPLE STAFFING SOLUTIONS,3-6 Yrs
4,Data Scientist - Tableau/Power BI,Delhi,Talent Stock Solutions,1-3 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
6,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
7,Data Scientist - IT,Gurgaon,Ehireo,4-9 Yrs
8,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
9,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs

------------------------------------------------------------------------------------------------------------------------------
Q5: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location from https://www.glassdoor.co.in/Salaries/index.htm. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

------------------------------------------------------------------------------------------------------------------------------

In [5]:
def find_jobs_from(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    time.sleep(2)
    skill_field = driver.find_element_by_class_name('keyword')
    skill_field.send_keys("Data Scientist")

    location_field = driver.find_element_by_class_name('loc')
    location_field.send_keys(Keys.CONTROL + "a")
    location_field.send_keys(Keys.DELETE)

    location_field.send_keys("Noida")

    time.sleep(0.5)
    search_button = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
    try:
        search_button.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")


    current_url = driver.current_url
    driver.get(current_url)

    min_salary = []
    max_salary = []
    avg_salary = []
    company_name = []
    number_of_salary = []

    time.sleep(2)
    min_sal  = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
    for i in range(0,len(min_sal)):
        if i < 10:
            try:
                min_salary.append(min_sal[i].get_attribute('innerHTML'))
            except NoSuchElementException as Err:
                min_salary.append(" -- ")

    max_sal  = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
    for j in range(0,len(max_sal)):
        if j < 10:
            try:
                max_salary.append(max_sal[j].get_attribute('innerHTML'))
            except NoSuchElementException as Err:
                max_salary.append(" -- ")

    avg_sal  = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
    for k in range(0,len(avg_sal)):
        if k < 10:
            try:
                avg_salary.append(avg_sal[k].get_attribute('innerHTML'))
            except NoSuchElementException as Err:
                avg_salary.append(" -- ")

    number  = driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
    for l in range(0,len(number)):
        if l < 10:
            try:
                num = number[l].text.strip().replace("salaries","")
                number_of_salary.append(num)
            except NoSuchElementException as Err:
                number_of_salary.append(" -- ")

    company = driver.find_elements_by_xpath("//p[@class='m-0 ']")
    for m in range(0,len(company)):
        if m < 10 :
            try:
                company_name.append(company[m].get_attribute('innerHTML'))
            except NoSuchElementException as err:
                company_name.append(" -- ")
    
    data_scientist_jobs = pd.DataFrame({"Company" : company_name,
                                      'Number of Salary' : number_of_salary,
                                      'Minimum Salary' : min_salary,
                                      'Maximum Salary' : max_salary,
                                      'Average Salary': avg_salary
                                     })
    time.sleep(0.5)
    driver.close()
    return data_scientist_jobs
    
    

df = find_jobs_from("https://www.glassdoor.co.in/Salaries/index.htm")
df

,Company,Number of Salary,Minimum Salary,Maximum Salary,Average Salary
0,Delhivery,13,₹456K,"₹11,789K","₹ 12,81,419"
1,Ericsson-Worldwide,11,₹420K,"₹1,636K","₹ 7,52,052"
2,Accenture,10,₹585K,"₹2,200K","₹ 9,98,925"
3,Tata Consultancy Services,9,₹336K,"₹1,024K","₹ 6,02,000"
4,IBM,9,₹595K,"₹2,769K","₹ 7,71,657"
5,UnitedHealth Group,9,₹727K,"₹1,597K","₹ 13,55,346"
6,Valiance Solutions,8,₹509K,"₹1,168K","₹ 7,91,015"
7,Innovaccer,7,₹629K,"₹1,719K","₹ 12,15,138"
8,Cognizant Technology Solutions,6,₹804K,"₹1,281K","₹ 10,21,889"
9,ZS Associates,5,₹205K,"₹1,835K","₹ 10,00,000"

----------------------------------------------------------------------------------------
Q6. Scrape following data for first 100 Sunglasses : Brand,Product,price and discount%.

----------------------------------------------------------------------------------------

In [6]:
def sunglass(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)
    time.sleep(2)
    
    #close pop_up
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
    search = driver.find_element_by_xpath("//*[@placeholder='Search for products, brands and more']")
    search.send_keys("Sunglasses")


    search = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    try:
        search.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")



    brands = []
    products = []
    prices = []
    discount_percentages = []
    urls = []

    start_page=0
    end_page=2

    current_url = driver.current_url
    driver.get(current_url)
    
    #Find all urls for 3 pages
    soup = BS(driver.page_source,'html.parser')
    url = soup.find_all('a',class_="ge-49M")
    for each in url[start_page:end_page+1]:
        urls.append("https://www.flipkart.com"+each.get('href'))

    for i in urls:
        driver.get(i)
        brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for j in range(0,len(brand)):
            try:
                if len(brands) != 100:
                    brands.append(brand[j].text)
            except NoSuchElementException:
                brands.append(" -- ")

        product = driver.find_elements_by_xpath("//a[contains(@class,'IRpwTa') or contains(@class,'IRpwTa _2-ICcC')]")
        for k in range(0,len(product)):
            try:
                if len(products) != 100:
                    products.append(product[k].text)
            except NoSuchElementException:
                product.append(" -- ")

        price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for l in range(0,len(price)):
            try:
                if len(prices) != 100:
                    prices.append(price[l].get_attribute('innerHTML'))
            except NoSuchElementException:
                prices.append(" -- ")

        percentage = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for m in range(0,len(percentage)):
            try:
                if len(discount_percentages) != 100:
                    discount_percentages.append(percentage[m].get_attribute('innerHTML'))
            except NoSuchElementException:
                discount_percentages.append(" -- ")
                
    
    sunglasses = pd.DataFrame({"Brand" : brands,
                                      'Product Description' : products,
                                      'Price' : prices,
                                      'Discount' : discount_percentages

                                     })
    time.sleep(0.5)
    driver.close()
    return sunglasses


df = sunglass("https://www.flipkart.com/")
df

,Brand,Product Description,Price,Discount
0,Estillarse,Gradient Aviator Sunglasses (55),₹280,37% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
2,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
3,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹239,76% off
4,like future,Mirrored Aviator Sunglasses (Free Size),₹181,83% off
...,...,...,...,...
95,Fastrack,UV Protection Shield Sunglasses (Free Size),₹708,21% off
96,Fastrack,Gradient Rectangular Sunglasses (Free Size),"₹1,650",17% off
97,JOHAENA,"Night Vision Spectacle , Sports Sunglasses (50)",₹149,86% off
98,Rich Club,UV Protection Round Sunglasses (50),₹379,62% off
99,Estillarse,Gradient Aviator Sunglasses (55),₹280,37% off

-------------------------------------------------------------------------------------------------------------------------------
Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

-------------------------------------------------------------------------------------------------------------------------------

In [7]:
def iphone(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    #View all reviews :
    reviews = driver.find_element_by_xpath("//div[@class='col JOpGWq']/a").get_attribute('href')
    time.sleep(0.5)
    driver.get(reviews)

    ratings = []
    review_summary = []
    full_review = []

    urls=[]
    
    start_page = 1
    end_page = 10

    #Find all urls for 10 pages
    soup = BS(driver.page_source,'html.parser')
    url = soup.find_all('a',class_='ge-49M')
    current_url = driver.current_url
    urls.append(current_url)
    for each in url[start_page:end_page+1]:
        urls.append("https://www.flipkart.com"+each.get('href'))

    for every_url in urls:
        driver.get(every_url)
        
        rating = driver.find_elements_by_xpath("//div[contains(@class,'_3LWZlK _1BLPMq') or contains(@class,'_3LWZlK _1rdVr6 _1BLPMq')]")
        for each in rating:
            try:
                if len(ratings) != 100:
                    ratings.append(each.get_attribute('innerHTML').split("<")[0])
            except NoSuchElementException:
                ratings.append("--")

        summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for each in summary:
            try:
                if len(review_summary) != 100:
                    review_summary.append(each.text)
            except NoSuchElementException:
                review_summary.append("--")

        full_reviews = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for each in full_reviews:
            try:
                if len(full_review) != 100:
                    full_review.append(each.text)
            except NoSuchElementException:
                full_review.append("--")
                
    
    
    iphone_reviews = pd.DataFrame({'Ratings' : ratings,
                                   'Review Summary' : review_summary,
                                   'Full Review' : full_review
                                  })
    
    driver.close()

    return iphone_reviews

        
df = iphone(url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
df

,Ratings,Review Summary,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
96,5,Terrific,Have used both iPhone X and iPhone XR and I ca...
97,3,Does the job,The phone is awesome undoubtedly and worth the...
98,5,Terrific,Switched from Android to Iphone. great experie...
99,3,Nice,Iphone 11 black 64gb is really a cool phone\n\...

----------------------------------------------------------------------------------------------------------------------------
Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.

----------------------------------------------------------------------------------------------------------------------------

In [8]:
def find_sneakers(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)
    time.sleep(2)
    #close pop_up
    driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
    search = driver.find_element_by_xpath("//*[@placeholder='Search for products, brands and more']")
    search.send_keys("Sneakers")


    search = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    try:
        search.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")



    brands = []
    products = []
    prices = []
    discount_percentages = []
    urls = []

    start_page=0
    end_page=2

    current_url = driver.current_url
    driver.get(current_url)
    
    #Find all urls for 3 pages
    soup = BS(driver.page_source,'html.parser')
    url = soup.find_all('a',class_="ge-49M")
    for each in url[start_page:end_page+1]:
        urls.append("https://www.flipkart.com"+each.get('href'))

    for i in urls:
        driver.get(i)
        brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for j in range(0,len(brand)):
            try:
                if len(brands) != 100:
                    brands.append(brand[j].text)
            except NoSuchElementException:
                brands.append(" -- ")

        product = driver.find_elements_by_xpath("//a[contains(@class,'IRpwTa') or contains(@class,'IRpwTa _2-ICcC')]")
        for k in range(0,len(product)):
            try:
                if len(products) != 100:
                    products.append(product[k].text)
            except NoSuchElementException:
                product.append(" -- ")

        price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for l in range(0,len(price)):
            try:
                if len(prices) != 100:
                    prices.append(price[l].get_attribute('innerHTML'))
            except NoSuchElementException:
                prices.append(" -- ")

        percentage = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        for m in range(0,len(percentage)):
            try:
                if len(discount_percentages) != 100:
                    discount_percentages.append(percentage[m].get_attribute('innerHTML'))
            except NoSuchElementException:
                discount_percentages.append(" -- ")
                
    
    sunglasses = pd.DataFrame({"Brand" : brands,
                                      'Product Description' : products,
                                      'Price' : prices,
                                      'Discount' : discount_percentages

                                     })
    time.sleep(0.5)
    driver.close()
    return sunglasses


df = find_sneakers("https://www.flipkart.com/")
df

,Brand,Product Description,Price,Discount
0,Arivo,Fashion Outdoor Canvas Casual Light Weight Lac...,₹449,65% off
1,Chevit,516 Sneakers For Men,₹420,47% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹378,62% off
4,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
...,...,...,...,...
95,GANPATI TRADERS,Sneakers For Men,₹229,51% off
96,Ktiz,Sneakers For Men,₹449,22% off
97,World Wear Footwear,Sneakers For Men,₹240,47% off
98,Sparx,SM-482 Sneakers For Men,"₹1,049",60% off
99,Chevit,516 Sneakers For Men,₹420,36% off

---------------------------------------------------------------------------------------------------------------------------------------
Q9. Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”. 
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description and price of the shoe

--------------------------------------------------------------------------------------------------------------------------------

In [9]:
def find_shoes(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)
    time.sleep(2)

    #Filter : Price Range : Rs 5899 - Rs 11599
    driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()
    time.sleep(1)
    current_url = driver.current_url
    driver.get(current_url)
    #Filter : Color : Black
    driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()
    time.sleep(1)

    start_page = 0
    end_page = 1

    current_url = driver.current_url
    driver.get(current_url)

    brands = []
    descriptions = []
    prices = []

    for p in range(start_page,end_page+1):
        brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
        for i in brand:
            try:
                if len(brands) != 100:
                    brands.append(i.text)
            except NoSuchElementException:
                brands.append(" -- ")

        desc =  driver.find_elements_by_xpath("//h4[@class='product-product']")
        for m in desc:
            try:
                if len(descriptions) != 100:
                    descriptions.append(m.text)
            except NoSuchElementException:
                descriptions.append(" -- ")

        price = driver.find_elements_by_xpath("//div[@class='product-price']")
        for l in price:
            try:
                if len(prices) != 100:
                    prices.append(l.text.split("Rs.")[1])
            except NoSuchElementException:
                prices.append(" -- ")     


        next_url = driver.find_element_by_xpath("//*[@id='desktopSearchResults']/div[2]/section/div[2]/ul/li[12]/a")
        driver.get(next_url.get_attribute('href'))

    sneakers = pd.DataFrame({'Brand' : brands,
                                'Descriptions': descriptions,
                                'Price (in Rs)': prices})
    
    driver.close()
    
    return sneakers

df = find_shoes("https://www.myntra.com/shoes")
df

                   Brand                    Descriptions Price (in Rs)
0                   Nike  Women PEGASUS 37 Running Shoes          7496
1                   Nike     Men JORDAN DELTA Basketball         12495
2                   Nike      Men React Infinity Running         11156
3                   Nike       Men JORDAN DELTA Sneakers         10995
4                   Nike       Women REACT Running Shoes          8636
..                   ...                             ...           ...
95                  Vans            Men Striped Sneakers          9999
96        Tommy Hilfiger              Men Solid Sneakers          7199
97  Heel & Buckle London       Women Solid Leather Heels          6993
98                  Geox       Women Solid Leather Pumps          6999
99        Tommy Hilfiger   Men Heritage Leather Sneakers          7199

[100 rows x 3 columns]

-------------------------------------------------------------------------------------------------------------------------------
Q10: Go to webpage https://www.amazon.in/ . Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop: title, Ratings and Price.
    
----------------------------------------------------------------------------------------------------------------------------

In [10]:
def find_laptops(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)
    
    time.sleep(0.5)
    
    search = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
    search.send_keys("Laptop")


    search = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
    try:
        search.click()
        time.sleep(1)
        
        #Filter : CPU - Intel Core i7
        filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
        for i in filter_button:
            if i.text=='Intel Core i7':
                i.click()
                break
        
      
        #Filter : CPU - Intel Core i9
        filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
        for i in filter_button:
            if i.text=='Intel Core i9':
                i.click()
                break

    except ElementNotInteractableException:
        print("Search button Not responding!!")



    titles = []
    ratings = []
    prices = []
   
    
    title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    for j in range(0,len(title)):
        try:
            if len(titles) != 10:
                titles.append(title[j].text)
        except NoSuchElementException:
            titles.append(" -- ")

    rating = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
    for k in range(0,len(rating)):
        try:
            if len(ratings) != 10:
                ratings.append(rating[k].get_attribute('innerHTML').split(" ")[0])
        except NoSuchElementException:
            ratings.append(" -- ")

    price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    for l in range(0,len(price)):
        try:
            if len(prices) != 10:
                prices.append(price[l].get_attribute('innerHTML'))
        except NoSuchElementException:
            prices.append(" -- ")

    
    
    laptops = pd.DataFrame({"Title" : titles,
                            'Rating ' : ratings,
                            'Price' : prices                                      
                            })
    time.sleep(0.5)
    driver.close()
    return laptops


df = find_laptops("https://www.amazon.in/")
df

                                               Title Rating      Price
0  (Renewed) Dell Latitude E6420 14 Inch Laptop (...       4    45,000
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...       3    53,999
2  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...       2    96,000
3  (Renewed) Lenovo Legion 5i 10th Gen Intel Core...       1    76,492
4  Lenovo Yoga 7i 11th Gen Intel Core i7 14-inch ...     4.2  1,00,999
5  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...     3.3    74,490
6  MSI GF63 Thin, Intel 10th Gen. i7-10750H, 15.6...     3.5    92,990
7  (Renewed) Dell Latitude E7470 14-inch Laptop (...     3.8    63,599
8  (Renewed) Dell Latitude E6420 14 Inch Laptop (...     2.5    35,000
9  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...     3.4    74,990

-----------------------------------------------------------------------------------------------------------------------------
Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location from https://www.glassdoor.co.in/index.htm .You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

-----------------------------------------------------------------------------------------------------------------------------

In [14]:
def find_jobs_from(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)
    
    time.sleep(10
    current_url = driver.current_url
    driver.get(current_url)
    #search page
    skill_field = driver.find_element_by_xpath("//input[@id='sc.keyword']")
    skill_field.send_keys("Data Scientist")

    location_field = driver.find_element_by_xpath("//input[@id='sc.location']")
    location_field.send_keys(Keys.CONTROL + "a")
    location_field.send_keys(Keys.DELETE)
    location_field.send_keys("Noida")

    time.sleep(0.5)
    search_button = driver.find_element_by_xpath("//button[@data-test='search-bar-submit']")
    try:
        search_button.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")
        
    time.sleep(0.5)



    companies = []
    ratings = []
    days = []
    
    time.sleep(2)
    
            
    companies = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a[1]/span")
    company_name = []
    for i in companies:
        if i.text is None :
            company_name.append("--") 
        else:
            company_name.append(i.text)

   
    ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
    company_ratings=[]
    for i in ratings:
        if i.text is None :
            company_ratings.append("--") 
        else:
            company_ratings.append(i.text)

   
            
    days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
    days_ago = []
    for i in days:
        if i.text is None :
            days_ago.append("--") 
        else:
            days_ago.append(i.text[0])
  
    

    data_scientist_jobs = pd.DataFrame({'Company' : company_name[0:10],
                                      'Rating' : company_ratings[0:10],
                                      'Job Posted' : days_ago[0:10]
                                      
                                 })
    time.sleep(0.5)
    driver.close()
    return data_scientist_jobs
    
    

df = find_jobs_from("https://www.glassdoor.co.in/index.htm")
df

                        Company Rating Job Posted
0                       WishFin    4.0          2
1  Salasar New Age Technologies    4.4          3
2               JNtech Networks    3.3          4
3                     QuantumIT    3.7          2
4                WSD Consultant    4.2          3
5                Biz2Credit Inc    4.0          3
6                     dunnhumby    3.7          3
7                        adidas    3.9          3
8                     HDFC Bank    4.2          7
9                      Ericsson    3.0          2