In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup as BS
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
def most_viewed_videos(url):
    
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    ranks = []
    video_names = []
    artists = []
    dates = [] 
    views = []

    try:
        rank = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")
        for r in rank:
            ranks.append(r.text)
    except NoSuchElementException :
        ranks.append(" - ")

    try:
        videos = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
        for vi in videos:
            video_names.append(vi.text.split("[")[0])
    except NoSuchElementException :
        video_names.append(" - ")

    try:
        artist = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
        for a in artist:
            artists.append(a.text)
    except NoSuchElementException :
        artists.append(" - ")

    try:
        view = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
        for v in view:
            views.append(v.text)
    except NoSuchElementException :
        views.append(" - ")

    try:
        date = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[5]")
        for d in date:
            dates.append(d.text)
    except NoSuchElementException :
        dates.append(" - ")

    top_videos = pd.DataFrame({'Rank' : ranks,
                               'Video Name' : video_names,
                               'Uploader/artist' : artists,
                              'Views ( billions )' : views,
                              'Upload Date' : dates})
    driver.close()
    
    return top_videos

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
df = most_viewed_videos(url)
df

,Rank,Video Name,Uploader/artist,Views ( billions ),Upload Date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,7.91,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi featuring Daddy Yankee,7.20,"January 12, 2017"
2,3.,"""Shape of You""",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""",Wiz Khalifa featuring Charlie Puth,4.96,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""",LooLoo Kids,4.77,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson featuring Bruno Mars,4.09,"November 19, 2014"
7,8.,"""Gangnam Style""",Psy,3.97,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""",Cocomelon – Nursery Rhymes,3.64,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.53,"March 6, 2014"
11,12.,"""Sorry""",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""",El Chombo featuring Cutty Ranks,3.11,"April 5, 2018"
17,18.,"""Shake It Off""",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""",Katy Perry featuring Juicy J,2.97,"February 20, 2014"
22,23.,"""Girls Like You""",Maroon 5 featuring Cardi B,2.96,"May 31, 2018"
23,24.,"""Let Her Go""",Passenger,2.91,"July 25, 2012"
24,25.,"""Mi Gente""",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""",Adele,2.79,"October 22, 2015"
26,27.,"""Perfect""",Ed Sheeran,2.74,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""",Shakira featuring Freshlyground,2.74,"June 4, 2010"
28,29.,"""Blank Space""",Taylor Swift,2.72,"November 10, 2014"
29,30.,"""Chantaje""",Shakira featuring Maluma,2.62,"November 18, 2016"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
def international_fixtures(url):
    
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)


    #goToInternationalFixtures
    fixture = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
    fixture_link = fixture.get_attribute('href')
    driver.get(fixture_link)

    match_titles = []
    series = []
    places = []
    dates = []
    times = []

    try:
        game_urls = driver.find_elements_by_xpath("//a[contains(@href,'1st-odi')]")
        for i in game_urls:
            driver.get(i.get_attribute('href'))

            series_name = driver.find_element_by_xpath("//*[@id='scorecard']/section[3]/div/ul/li[1]/span[2]")
            series.append(series_name.text)

            title = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[2]/div/p/span")
            match_titles.append(title.text)

            venue = driver.find_element_by_xpath("//*[@id='scorecard']/section[3]/div/ul/li[3]/span[2]")
            places.append(venue.text)

            date = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[3]/div/div[3]/strong")
            dates.append(date.text)

            time = driver.find_element_by_xpath("/html/body/div[2]/div/header/div/div[3]/div/div[3]/span[1]")
            times.append(time.text)

    except NoSuchElementException:
        print("None")
    driver.close()
    odi_matches = pd.DataFrame({'Match Title': match_titles,
                                'Series Name': series,
                                'Date': dates,
                                'Time':times,
                                'Venue':places})

    return odi_matches

url = "https://www.bcci.tv"
df = international_fixtures(url)
df

,Match Title,Series Name,Date,Time,Venue
0,1ST ODI,India v England 2021,Tuesday 23 March,13:30 IST,"Maharashtra Cricket Association Stadium, Pune"

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [4]:
def selenium_exception(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    selenium = driver.find_element_by_xpath("//a[@title='Selenium']")
    driver.get(selenium.get_attribute('href'))


    tutorial = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
    driver.get(tutorial.get_attribute('href'))

    #WebDriverWait(driver,60).until(EC.element_to_be_clickable((By.XPATH,"//button[@class='CloseButton__ButtonElement-sc-79mh24-0 gVNUOF aurora-CloseButton aurora-close aurora-ClosePosition--top-right']"))).click()


    names = []
    descriptions = []


    try:
        name = driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
        for n in name:
            names.append(n.text)
    except NoSuchElementException :
        names.append(" - ")

    try:
        desc = driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")
        for d in desc:
            descriptions.append(d.text)
    except NoSuchElementException :
        descriptions.append(" - ")  


    exceptions = pd.DataFrame({'Name':names,
                              'Description':descriptions
                              })
    driver.close()
    exceptions.drop(axis=0,index=0,inplace=True)
    
    return exceptions

url = " https://www.guru99.com"
df = selenium_exception(url)
df

,Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [5]:
def gdp(url):

    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)


    india = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
    driver.get(india.get_attribute('href'))

    gdp = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[2]/a")
    driver.get(gdp.get_attribute('href'))

    ranks = []
    states = []
    gsdp_18_19_cur = []
    gsdp_19_20_cur = []
    gsdp_19_20_con = []
    gsdp_18_19_con = []
    gdp_billion = []

    try:
        rank = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]")
        for r in rank:
            ranks.append(r.text)
    except NoSuchElementException:
        ranks.append("-")

    try:
        state = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
        for s in state:
            states.append(s.text)
    except NoSuchElementException:
        states.append("-")

    try:
        gsdp_18_cur = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
        for g in gsdp_18_cur:
            gsdp_18_19_cur.append(g.text)
    except NoSuchElementException:
        gsdp_18_19_cur.append("-")

    try:
        gsdp_19_cur = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
        for s in gsdp_19_cur:
            gsdp_19_20_cur.append(s.text)
    except NoSuchElementException:
        gsdp_19_20_cur.append("-")

    try:
        billion = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
        for b in billion:
            gdp_billion.append(b.text)
    except NoSuchElementException:
        ranks.append("-")

    try:
        gsdp_18_con = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[7]")
        for d in gsdp_18_con:
            gsdp_19_20_con.append(d.text)
    except NoSuchElementException:
        gsdp_19_20_con.append("-")

    try:
        gsdp_19_con = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[8]")
        for p in gsdp_19_con:
            gsdp_18_19_con.append(p.text)
    except NoSuchElementException:
        gsdp_18_19_con.append("-")
    
    driver.close()
    
    gdp_indian_states = pd.DataFrame({'Rank':ranks,
                                      'State':states,
                                      'GSDP Per Capita (INR at current Prices) - 2018-19':gsdp_18_19_cur,
                                      'GSDP Per Capita (INR at current Prices) - 2019-20':gsdp_18_19_cur,
                                      'GSDP Per Capita (INR at constant Prices) - 2018-19':gsdp_18_19_con,
                                      'GSDP Per Capita (INR at constant Prices) - 2019-20':gsdp_19_20_con,
                                      'GDP Per capita ($)': gdp_billion
                                     })

    return gdp_indian_states

url = "http://statisticstimes.com"
df = gdp(url)
df

,Rank,State,GSDP Per Capita (INR at current Prices) - 2018-19,GSDP Per Capita (INR at current Prices) - 2019-20,GSDP Per Capita (INR at constant Prices) - 2018-19,GSDP Per Capita (INR at constant Prices) - 2019-20,GDP Per capita ($)
0,1,Goa,"476,370","476,370","407,155",-,"6,997"
1,2,Sikkim,"435,199","435,199","283,669","300,105","6,393"
2,3,Delhi,"394,216","394,216","300,452","316,650","5,791"
3,4,Chandigarh,"359,030","359,030","265,919",-,"5,274"
4,5,Haryana,"260,287","260,287","188,288","200,042","3,823"
5,6,Puducherry,"240,527","240,527","160,378","169,498","3,533"
6,7,Karnataka,"232,874","232,874","169,547","179,149","3,421"
7,8,Kerala,"225,484","225,484","161,374",-,"3,312"
8,9,Telangana,"225,048","225,048","160,175","171,641","3,306"
9,10,Gujarat,"222,486","222,486","175,630",-,"3,268"
10,11,Uttarakhand,"220,257","220,257","173,121",-,"3,235"
11,12,Maharashtra,"216,375","216,375","167,581",-,"3,178"
12,13,Tamil Nadu,"215,784","215,784","160,865","172,977","3,170"
13,14,Himachal Pradesh,"211,325","211,325","161,882","169,786","3,104"
14,15,Punjab,"171,906","171,906","129,873","135,028","2,525"
15,16,Andhra Pradesh,"168,083","168,083","121,015","130,130","2,469"
16,17,Mizoram,"164,583","164,583","122,466",-,"2,418"
17,18,Arunachal Pradesh,"152,716","152,716","103,514",-,"2,243"
18,19,Nagaland,"129,978","129,978","84,071",-,"1,909"
19,20,Tripura,"125,459","125,459","93,035","101,015","1,843"
20,21,Rajasthan,"123,343","123,343","88,645","91,795","1,812"
21,22,Odisha,"112,907","112,907","87,673","91,916","1,658"
22,23,Jammu & Kashmir,"110,890","110,890","80,173",-,"1,629"
23,24,West Bengal,"110,728","110,728","75,132","79,789","1,626"
24,25,Chhattisgarh,"105,424","105,424","80,154","83,075","1,549"
25,26,Madhya Pradesh,"99,025","99,025","63,850","67,770","1,455"
26,27,Meghalaya,"96,015","96,015","70,783","74,943","1,410"
27,28,Assam,"92,533","92,533","68,562",-,"1,359"
28,29,Manipur,"82,793","82,793","57,335",-,"1,216"
29,30,Jharkhand,"79,937","79,937","60,513","63,644","1,174"
30,31,Uttar Pradesh,"74,402","74,402","50,730","52,153","1,093"
31,32,Bihar,"44,652","44,652","31,626","34,413",656
32,33,Andaman & Nicobar Islands,-,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [6]:
def trending_repo(url):
    
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
    driver.get(trending.get_attribute('href'))

    repo_urls = []
    repo_title = []
    desc = []
    contributors_count = []
    languages = []


    try:
        repositories = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
        for r in repositories:
            repo_urls.append(r.get_attribute('href'))
            repo_title.append(r.get_attribute('href').split("com/")[1])
    except NoSuchElementException:
        repo_title.append("--")
        repo_urls.append("--")

    for url in repo_urls:
        driver.get(url)
        try:
            about = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div[2]/div[2]/div/div[1]/div/p")
            desc.append(about.text)
        except NoSuchElementException:
            desc.append(" -- ")
        try:
            counter = driver.find_element_by_xpath("//a[contains(@href, '/contributors')]/span")
            contributors_count.append(counter.get_attribute('innerHTML'))
        except NoSuchElementException:
            contributors_count.append(" -- ")

        try:
            lang = driver.find_elements_by_xpath("//*[@id='repo-content-pjax-container']/div[2]/div[2]/div/div/div/ul/li/a/span[1]")
            list_of_lang = []
            for l in lang:
                list_of_lang.append(l.text)
            languages.append(list_of_lang)

        except NoSuchElementException:
            languages.append(" -- ")
    
    driver.close()
    
    trending_posts = pd.DataFrame({'Repository Title': repo_title,
                                   'Repository Description': desc,
                                   'Contributors Count': contributors_count,
                                   'Languages Used': languages
                                  })
    return trending_posts

url = "https://github.com"
df = trending_repo(url)

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [7]:
def top_songs(url):
    
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    charts = driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
    driver.get(charts.get_attribute('href'))


    hot_100 = driver.find_element_by_xpath("//div[@id='topchartsChartPanel']/a")
    driver.get(hot_100.get_attribute('href'))

    song_names = []
    artist_names = []
    last_week_ranks = []
    peak_ranks = []
    weeks_on_charts = []

    try:
        songs = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
        for s in songs:
            song_names.append(s.text)
    except NoSuchElementException:
        song_names.append(" - ")

    try:
        artists = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
        for a in artists:
            artist_names.append(a.text)
    except NoSuchElementException:
        artist_names.append(" - ")

    try:
        week = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
        for w in week:
            last_week_ranks.append(w.text)
    except NoSuchElementException:
        last_week_ranks.append(" - ")

    try:
        peak = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
        for p in peak:
            peak_ranks.append(p.text)
    except NoSuchElementException:
        peak_ranks.append(" - ")

    try:
        charts = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
        for c in charts:
            weeks_on_charts.append(c.text)
    except NoSuchElementException:
        weeks_on_charts.append(" - ")

    song_list = pd.DataFrame({'Song Name': song_names,
                              'Artist Name': artist_names,
                              'Last Week Rank' : last_week_ranks,
                              'Peak Rank': peak_ranks,
                              'Weeks on Board' : weeks_on_charts})
    driver.close()
    return song_list

url = "https://www.billboard.com/"
df = top_songs(url)
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [8]:
#Function definition
def find_jobs_from(url) :
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    recruiters = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
    driver.get(recruiters.get_attribute('href'))
                                            
    skill_field = driver.find_element_by_name('qp')
    skill_field.send_keys("Data Scientist")


    search_button = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
    try:
        search_button.click()
    except ElementNotInteractableException:
        print("Search button Not responding!!")

    current_url = driver.current_url

    driver.get(current_url)
    print(current_url)
    names = []
    locations = []
    company_name = []
    designation = []
    skills = []

    try:                                                        
        name = driver.find_elements_by_xpath("//div[@id='tabP-1']/div/div/div[1]/div[1]/p/a[1]/span")
        for i in name:
            names.append(i.get_attribute('innerHTML'))
    except NoSuchElementException:
        names.append(" -- ")

    
                                               
    location = driver.find_elements_by_xpath("//*[@id='tabP-1']/div/div/div[1]/div[1]/p/span[2]/small")
    for j in location:
        if j.text is None:
             locations.append(" -- ")
        else:
            locations.append(j.text)

    try:                                         
        company = driver.find_elements_by_xpath("//*[@id='tabP-1']/div/div/div[1]/div[1]/p/a[2]")
        for l in company:
            company_name.append(l.text)
    except NoSuchElementException:
        company_name.append(" -- ")
                
    try:                                         
        designations = driver.find_elements_by_xpath("//*[@id='tabP-1']/div/div/div[1]/div[1]/p/span[1]")
        for m in designations:
            designation.append(m.text)
    except NoSuchElementException:
        designation.append(" -- ")
        
    try:                                         
        skill = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
        for n in skill:
            skills.append(n.text)
    except NoSuchElementException:
        skills.append(" -- ")
   
    driver.close()
    data_analyst_jobs = pd.DataFrame({"Name" : names[0:49],
                                      'Designation': designation[0:49],
                                      'Location' : locations[0:49],
                                      'Company' : company_name[0:49],
                                      'Skills they Hire' : skills[0:49]
                                     })
    return data_analyst_jobs

#Call Function
df = pd.DataFrame()
df = find_jobs_from("https://www.naukri.com/")
df

https://www.naukri.com/data-scientist-recruiters

,Name,Designation,Location,Company,Skills they Hire
0,Tanushree,Lead Recruiter,Noida,RecRoots,"UI Developers, Software Engineers, Quality Ass..."
1,sashi bhushan,Senior Specialist,Bengaluru / Bangalore,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ..."
2,Bitapi,HR and Operation Manager,Bengaluru / Bangalore,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin..."
3,Gajendra Singh,Head of Recruitment - Product &amp;...,Noida,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic..."
4,Sadashiv Kulkarni,Company HR,Pune,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ..."
5,Invelopment,Company HR,Ahmedabad,Invelopment,Scandinavian Startups
6,Anjali Srivastava,Director HR,Noida,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof..."
7,Anoop Somarajan,Assistant Manager Talent Acquisition,Chennai,Access Healthcare,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript..."
8,Helly Vyas,HR Business Partner,Pune,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav..."
9,Ashish Verma,Senior Associate Human Resources,Gurgaon,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ..."
10,Naresh,IT Recruitment Consultant,Hyderabad / Secunderabad,Waterleaf Consultants Pvt. Ltd.,"Managers, Operational Head, Directors, Ceo, Da..."
11,Bhuwneshari Devi,Lead Talent Acquisition,Delhi,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip..."
12,HS Sandesh,Talent Evangelist www staffiohr co,Bengaluru / Bangalore,Staffio HR,"Digital Marketing, General Manager, Business D..."
13,Datafoundry,Company HR,Bengaluru / Bangalore,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana..."
14,A Valsa Florina,Recruitment Specialist,Bengaluru / Bangalore,Redbus.in,"Business Analyst, Front end developer, legal, ..."
15,Kalaivani M V,HR Manager,Chennai,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic..."
16,Prashant K,Sr HR,Bengaluru / Bangalore,Confidential,"Data Analyst, Statistical Analysis, Data Scien..."
17,Radhika,HR Associate,Coimbatore,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,..."
18,Rakhi,HR recruiter,Singapore - (singapore),Constalytics,"Data Scientist, Data Research Analyst, Big Dat..."
19,Monika Jain,Talent Aquistion Lead,Noida,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ..."
20,Trilok Nath,Senior IT Recruiter,Hyderabad / Secunderabad,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E..."
21,Sridharan,Company Recruiter Vice President,Chennai,Aaum Research and Analytics Private Limited,"Data Scientist, Developer, Ui, Accounting"
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Noida,Mount Talent consulting,"Leading MNCs, Product based organizations"
23,Vidya Rani Hadimani,Business Manager Delivery,Bengaluru / Bangalore,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...
24,Shikha Bakshi,Senior Manager Recruitment,Gurgaon,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python"
25,Janhavi Soni,HR Generalist,Ahmedabad,Vihaa Technologies LLP,"C, C++, Unity3d, Core Php, Android Development..."
26,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
27,Jayanth N,Project Manager,Mysoru / Mysore,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
28,Nilanjan Sinha,Senior Manager HR,Nagpur,CropData Technology (P) Ltd.,"Software Development, Business Development, Ag..."
29,Ravi,Team HR,Ghaziabad,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ..."
30,Vivek Shrivastava,Assistant Manager Human Resources,Noida,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis..."
31,Gayathri E,Sr Recruitment,Chennai,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ..."
32,Best In Town Analytics,Analytics Associate,Bengaluru / Bangalore,BITA,Data Analytics
33,Santhosh Nagaiah,Chief marketing officer,Mumbai,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend"
34,priyanka,General Manager,Bengaluru / Bangalore,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B..."
35,Renny Benita K,Operations Manager,Hyderabad / Secunderabad,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D..."
36,Roshan Menugu,Company Recruiter,Bengaluru / Bangalore,Cyient Limited,Not Specified
37,Nagajothi Edumdan,Lead Technical Recruiter,Bengaluru / Bangalore,Roljobs Technology Services Pvt Ltd,"architect, Technical Lead, director, java, J2e..."
38,HR Team,Company HR,Delhi,Terra Blue Exploration Technologies Pvt....,Not Specified
39,Jamil Akhtar,Company Recruiter,Bengaluru / Bangalore,Quikkloan,Not Specified
40,rajesh,HR Executive,Hyderabad / Secunderabad,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic..."
41,navya neluri,Data Scientist,Pune,asens labs,Not Specified
42,Ram Kumar,Data Scientist,Bengaluru / Bangalore,Working As A Freelancer,Not Specified
43,Vanitha Senkurichi,Company HR,Hyderabad / Secunderabad,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data..."
44,Sravan Kumar Ranga,Assistant Manager,Bengaluru / Bangalore,GSPANN Technologies,"devops, build and release, Delivery Manager, O..."
45,Gautam Malaiappan,Founder CEO,Hyderabad / Secunderabad,HireHappi,"Sql, Sas, Sas Programming, Python, Tableau, Vb..."
46,Blueberry Digital Labs,HR,Noida,Blueberry Digital Labs,"Node.js, Html, Css, Nosql, Web Designing, Web ..."
47,Ms Uma,Company HR,Chennai,RenovITe Payment Solutions Pvt ltd,"java, J2ee, activemq, rest, cassandra, redis, ..."
48,Manoj Kumar Ganesh,Senior HR Associate,Hyderabad / Secunderabad,Cads Software India,"Java, J2EE, Oracle E-business Suite, MS CRM, P..."

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [9]:
def most_watched_series(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    name = []
    year_span = []
    genre = []
    run_time = []
    ratings = []
    votes = []

    try:
        names = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a")
        for n in names:
            name.append(n.text)
    except NoSuchElementException:
        name.append(" -- ")

    try:
        year = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/span[2]")
        for y in year:
            year_span.append(y.text)
    except NoSuchElementException:
        year_span.append(" -- ")

    try:
        genres = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[1]/span[5]")
        for g in genres:
            genre.append(g.text)
    except NoSuchElementException:
        genre.append(" -- ")

    try:
        runtime = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[1]/span[3]")
        for r in runtime:
            run_time.append(r.text)
    except NoSuchElementException:
        run_time.append(" -- ")

    try:
        rating = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/div[1]/div[1]/span[2]")
        for ra in rating:
            ratings.append(ra.text)
    except NoSuchElementException:
        ratings.append(" -- ")

    try:
        vote = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[4]/span[2]")
        for v in vote:
            votes.append(v.text)
    except NoSuchElementException:
        votes.append(" -- ")

    top_Serial_List = pd.DataFrame({'Name': name,
                                    'Year Span' : year_span,
                                    'Genre ': genre,
                                    'Run Time' : run_time,
                                    'Ratings': ratings,
                                    'Votes': votes})
    driver.close()
    return top_Serial_List

url = "https://www.imdb.com/list/ls095964455"
df = most_watched_series(url)
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,527"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"821,863"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,188"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,149"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,387"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,579"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,858"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,149"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,089"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,273"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [10]:
def uci_ml_repo(url):
    driver = webdriver.Edge("msedgedriver.exe")
    driver.get(url)

    all_dataset = driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
    driver.get(all_dataset.get_attribute('href'))

    set_name = []
    data_type = []
    task = []
    attribute_type = []
    no_of_instance = []
    no_of_attribute = []
    year = []


    try:                                         
        dataset = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td/p/b/a")
        for d in dataset:
            set_name.append(d.text)
    except NoSuchElementException:
        set_name.append(" -- ")


    try:                                                                                   
        datatype = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
        for d in datatype[1:]:
            data_type.append(d.text)
    except NoSuchElementException:
        set_name.append(" -- ")

    try:                                                                                   
        tasks = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
        for t in tasks[1:]:
            task.append(t.text)
    except NoSuchElementException:
        task.append(" -- ")

    try:                                                                                   
        attributetype = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
        for a in attributetype[1:]:
            attribute_type.append(a.text)
    except NoSuchElementException:
        attribute_type.append(" -- ")

    try:                                                                                   
        instances = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
        for i in instances[1:]:
            no_of_instance.append(i.text)
    except NoSuchElementException:
        no_of_instance.append(" -- ")

    try:                                                                                  
        attributes = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
        for at in attributes[1:]:
            no_of_attribute.append(at.text)
    except NoSuchElementException:
        no_of_attribute.append(" -- ")

    try:                                                                                 
        years = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
        for y in years[1:]:
            year.append(y.text)
    except NoSuchElementException:
        year.append(" -- ")

    driver.close()
    uci_datasets = pd.DataFrame({'Dataset Name': set_name,
                                 'Data Type': data_type,
                                 'Task': task,
                                 'Attribute Type': attribute_type,
                                 'Number of Instances': no_of_instance,
                                 'Number of Attribute': no_of_attribute,
                                 'Year': year
                                })

    return uci_datasets

url = "https://archive.ics.uci.edu"
df = uci_ml_repo(url)
df

,Dataset Name,Data Type,Task,Attribute Type,Number of Instances,Number of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020